{{ define "header" }}
<header>
    <div class="header-right">
        <h1>{{.Name}}</h1>
    </div>
    <div class="header-right">
        {{ if .Version }}<span>Version: {{.Version}}</span>{{ end }}
        {{ if .Date }}<span>|</span><span>Published: {{.Date}}</span>{{ end }}
        {{ if .License }}<span>|</span><span>License: {{.License}}</span>{{ end }}
    </div>
</header>
<style>
    header {
        justify-content: space-between;
    }
    .header-right {
        display: flex;
        column-gap: 20px;
    }
</style>
{{ end }}