<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>DocDocGO</title>
        {{ template "style"}}
    </head>
    <body>
        {{ template "header" . }}
        <div style="display: grid; grid-template-columns: 20% 80%; justify-items: stretch;">
            {{- template "nav" . }}
            <main>
                <section id="documentation">
                    <h2 class="section-title">Documentation</h2>
                    {{ template "documentation" .Documentation }}
                </section>
                <section id="source-files">
                    <h2 class="section-title">Source files</h2>
                    {{range .SourceFiles}}
                    <div >{{.}}</div>
                    {{end}}
                </section>
                <section id="packages">
                    <h2 class="section-title">Packages</h2>
                    {{ range .Packages }}
                    <section class="package-section" id="{{.Ref}}">
                        <span class="package-title"><b>package</b> <b class="main-color">{{.Ref}}</b></span>
                        {{ template "documentation" .Documentation }}
                    </section>
                    {{ end }}
                </section>
                <section id="dependencies">
                    <h2 class="section-title">Dependencies</h2>
                    <section class="dependencies-section">
                        {{ if len .Dependencies }}
                        <ul>
                            {{ range .Dependencies }}
                            <li>{{.Path}} {{.Version}}</li>
                            {{ end }}
                        </ul>
                        {{ else }}
                        <p>No dependencies</p>
                        {{ end }}
                    </section>
                </section>
                <section id="readme">
                    <h2 class="section-title">README</h2>
                    <div>{{.Readme}}</div>
                </section>
            </main>
        </div>
        {{ template "script" }}
    </body>
</html>