{{ define "nav" }}
<nav>
    <div class="nav-item">
        <a class="nav-title" href="#documentation">Documentation</a>
        <div class="sub-nav">
            <a class="nav-subtitle" href="#module-overview">Overview</a>
            <a class="nav-subtitle" href="#module-constants">Constants</a>
            <a class="nav-subtitle" href="#module-variables">Variables</a>
            <a class="nav-subtitle" href="#module-functions">Functions</a>
            <a class="nav-subtitle" href="#module-types">Types</a>
        </div>
    </div>
    <a class="nav-title" href="#source-files">Source Files</a>
    <div class="nav-item">
        <a class="nav-title" href="#packages">Packages</a>
        {{ if len .Packages }}
        <div class="sub-nav">
            {{ range .Packages }}
            <a class="nav-subtitle" style="margin-left: 0;" href="#{{.Ref}}">
                └─ <span style="color: #007d9c;">{{.Ref}}</span>
            </a>
            {{ end }}
        </div>
        {{ end }}
    </div>
    <a class="nav-title" href="#dependencies">Dependencies</a>
    <a class="nav-title" href="#readme">README</a>
</nav>

<style>
nav {
    top: 7vh; position: sticky; overflow-y: auto;
    height: calc(100vh - 7vh);
    display: flex; flex-direction: column; row-gap: 1rem;
    padding: 20px;
    box-sizing: border-box;
}
.nav-title{
    font-size: 1.1rem;
    color: black;
    text-decoration: none;
    border-radius: 10px;
}
.sub-nav {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}
.nav-subtitle {
    text-decoration: none;
    color: #6E7072;
    font-size: 0.9rem;
    margin-left: 20px;
}
.nav-subtitle:hover {
    cursor: pointer;
}
</style>
{{ end }}